* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

body {
  background: #fff;
  color: #000000;
}

main {
  width: 100%;
}

h1,
h2 {
  text-align: center;
  margin: 30px 0px;
  font-size: 30px;
}

.ponomar-regular {
  font-family: "Ponomar", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  position: sticky;
  z-index: 1;
  /* para que esté por encima del resto del contenido */
  top: 0;
  /* Se queda pegado en la parte superior */
}

img {
  width: 50px;
  height: auto;
}

nav.social-icons {
  display: flex;
  gap: 30px;
  /* Sdistancia entre iconos */
  align-items: center;
  justify-content: flex-end;
}

nav img {
  width: 25px;
  justify-content: flex-end;
  height: auto;
}

/* recibirdor */
.album-detail img {
  display: block;
  max-width: 100%;
}

.album-info {
  max-width: 100%;
}

.contents-obj img {
  width: 100%;
}

/* Estilos de las imágenes */
/* Image slider */
.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  /* Evita que las imágenes se desborden del contenedor padre */
  scroll-snap-type: x mandatory;
  /* */
  scroll-behavior: smooth;
  /* comportamiento de transicion */
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  /* 1 y 2 valores: eje de posición de la sombra,  
       3 valor: Blur o difuminado,
       4 valor: Amplitud del difuminado,
       5 valor: color de la sombra
    */
  border-radius: 1rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  /* empieza de derecha a izquierda el scroll. */
  /* Mantiene la proporción */
  object-fit: cover;
}

.slider-nav {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav {
  display: flex;
  justify-content: center;
  width: 800px;
  margin-top: -40px;
  z-index: 0;
}

.slider-nav a:hover {
  opacity: 1;
}

.m-btn {
  border: 2px solid rgb(205, 202, 239);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.m-btn:not(:last-child) {
  margin-right: 30px;
}

.m-btn:hover {
  opacity: 0.5;
}

/* ID, bbotones de tipo radio que cambian la imagen del carrusel*/
#radio1:checked ~ .slide-1 {
  margin-left: 0;
}
/*Id: pseudoclase, linkeadorde la slide 1 a la dos */
#radio2:checked ~ .slide-1 {
  margin-left: -105%;
}

#radio3:checked ~ .slide-1 {
  margin-left: -205%;
}

/* descripcion, perfil de spoty */
.perfil-container {
  display: flex;
  justify-content: center;
  padding: 0 25px;
  width: 100%;
}

.perfil {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se acomoden si no hay espacio */
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

/* Estilos del texto */
.texto {
  flex: 1;
  /* Se adapta al espacio disponible */
  min-width: 400px;
  max-width: 600px;
  text-align: left;
}

/* Estilos de la sección de Spotify */
.portada {
  flex: 1;
  display: flex;
  justify-content: center;
}

.portada iframe {
  width: 100%;
  max-width: 500px;
  height: 350px;
  display: flex;
}

/* ajustes de botones */

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #a67c52;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #8c6239;
}

.footend {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
  max-width: 100%;
}

.footend .tracklist-title {
  width: 110px;
}

.footend .tracklist {
  width: 50%;
  filter: brightness(1.1);
  padding-bottom: 25px;
}

.footend .last {
  width: 5vw;
  margin: 0 auto;
}

/* footer */
footer {
  text-align: center;
  padding: 20px;
  background: #171717;
  color: azure;
}

/* este responsive con mediaqrin lo puse por la ifram de spotify ya que causaba un desbordamiento */

@media (max-width: 1440px) {
  .perfil {
    align-items: center;
    flex-direction: column;
  }
  .portada {
    width: 100%;
  }
}
